@import '../../../styles/app.scss';

.content {
    .title {
        font-size: 2.8rem;
        padding: 0 1rem;

        @include breakpoint('sm') {
            padding: 1rem 1.5rem;
        }

        @include breakpoint('md') {
            padding: 1rem 1.5rem;
        }

        @include breakpoint('lg') {
            padding: 1rem 2rem;
        }

        @include breakpoint('xl') {
        }
    }
}
