@import '../../../styles/app.scss';

.main {
    @include content-width;
    margin-inline: auto;
    flex: 1;
}

.dark-mode {
    color: $color-light;
    background: $color-dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    //dark mode styles
}

.light-mode {
    color: $color-dark;
    background: $color-light;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    //light mode styles
}
