@import "../../../styles/app.scss";

.form {
  max-width: 40rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.lbl {
  font-family: $font-1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  animation: 0.3s;
  -webkit-animation: 0.3s;

  &:hover {
    color: $color-4;

    & .ipt {
      border-color: $color-4;
    }
  }

  &:focus-within {
    color: $color-4;

    & .ipt {
      border-color: $color-4;
    }
  }
}

.ipt {
  margin-top: 0.5rem;
  border: 1px solid $color-dark;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  animation: 0.3s;
  -webkit-animation: 0.3s;
  outline: none;
  font-family: $font-3;
  font-weight: 500;
  font-size: 1.6rem;
  color: $color-dark;
  padding: 1rem 2rem;
  &::placeholder {
    font-family: $font-1;
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-dark;
  }
}

.btnContainer {
  margin-top: 1.4rem;
}

.link {
  color: $color-4;
  &:hover {
    color: $color-5;
  }
}

.error {
  font-family: $font-3;
  font-size: 1rem;
  color: $color-danger;
  margin-top: 0.3rem;
  position: absolute;
}

.darkMode {
  .lbl {
    color: $color-light;

    &:hover {
      color: $color-4;

      & .ipt {
        border-color: $color-4;
      }
    }

    &:focus-within {
      color: $color-4;

      & .ipt {
        border-color: $color-4;
      }
    }
  }
}
