@import '../../../styles/app.scss';

.footer {
    // @include bg-gradient;
    background-color: $color-primary;

    height: 13rem;
    width: 100%;
    color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.8rem;
}
