@import '../../../styles/app.scss';

$spacing: 0.5rem; // spacing between burger span //

.hamburger {
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.btn {
    width: 2rem;
    cursor: pointer;
    margin-right: 1.4rem;
}

.btn span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 0.23rem;
    background: $color-light;
    transition: all 0.3s;
    position: relative;
}

.btn span + span {
    margin-top: 0.36rem;
}

.active span:nth-child(1) {
    animation: ease 0.7s top forwards;
}

.notActive span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
}

.notActive span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
}

.notActive span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: $spacing;
        transform: rotate(0);
    }
    100% {
        top: $spacing;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: $spacing;
        transform: rotate(45deg);
    }
    50% {
        top: $spacing;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: $spacing;
        transform: rotate(0);
    }
    100% {
        bottom: $spacing;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: $spacing;
        transform: rotate(135deg);
    }
    50% {
        bottom: $spacing;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

// MODAL //

.main {
    z-index: 999;
    visibility: visible;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in;
}

.sideBar {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #fafafa;
    color: #333;
    padding: 2.4rem 1.8rem;
    box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
        0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
    transition: transform 0.3s ease-in;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

// Not Active => Hidden //

.notActive {
    &.main {
        z-index: -999;
        opacity: 0;
    }
    &.sideBar {
        transform: translateX(-103%);
    }
}

// Active => Display //

.active {
    &.main {
        display: unset;
        z-index: 999;
        visibility: visible;
    }
    &.sideBar {
        transform: translateX(0%);
    }
}

// Title //
.title {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    .btn {
        margin-right: 0rem;
        span {
            background: #333;
        }
    }

    h3 {
        font-size: clamp(1.6rem, 1rem + 1vw, 3.2rem);
    }
}

.separator {
    border: none;
    width: 100%;
    height: 1px;
    background-color: rgba($color-5, 0.618);
}
