@import '../../../styles/app.scss';

.headerWrapper {
    position: relative;
    // @include bg-gradient;
    background-color: $color-primary;
    padding: 1rem 1.5rem;
    width: 100%;
    min-height: 5rem;
    box-shadow: 1px 3px 7px 3px rgba(0, 0, 0, 0.2);
    @include breakpoint('sm') {
        padding: 1.5rem 2.75rem;
    }
    @include breakpoint('md') {
        padding: 2rem 3rem;
    }
}

.header {
    z-index: 999;
    max-width: map_get($container-max-widths, xl);
    font-family: $font-2;
    color: $color-light;
    display: flex;
    align-items: center;
    margin-inline: auto;

    .logo {
        font-size: 2.4rem;
        font-weight: 700;
        margin-right: 3rem;
    }

    .right {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 20rem;
        a {
            padding: 1.4rem;
        }
    }

    .badgeRoot {
        position: relative;
    }

    .badge {
        top: 0px;
        right: 0px;
        height: 19px;
        display: flex;
        z-index: 1;
        position: absolute;
        flex-wrap: wrap;
        font-size: 1rem;
        min-width: 20px;
        transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        align-items: center;
        font-weight: 500;
        line-height: 1;
        border-radius: 10px;
        align-content: center;
        justify-content: center;
        background-color: $color-tertiary;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    // .dropdown:hover .dropdownContent {
    //     display: block;
    //     z-index: 2;
    // }

    .dropdownContent {
        display: none;
        position: absolute;
        background-color: $color-4;
        right: 0;
        top: 3.3rem;
        min-width: 14rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        &.active {
            display: block;
            z-index: 2;
        }
        &.inactive {
            display: none;
            z-index: -999;
        }
    }
}

.categories {
    padding-inline: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
